@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__nuxt {
    min-height: 100%;
    background-color: rgb(2 6 23);
    color: rgb(241 245 249);
    font-family: "Sora", "Avenir Next", "Segoe UI", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  .router-link-active {
    color: rgb(103 232 249);
  }
}
